@import "../../styles/vars.scss";
.titleBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: $barTop;
    max-width: $maxWidth;
    background-color: $color_ff;
    z-index: 999;
    .box{
        height: $barTop;
        position: relative;
        .back{
            width: px2rem(36px);
            height: px2rem(36px);
            display: block;
            position: absolute;
            left: px2rem(26px);
            top: px2rem(26px);
            background-image: url('./images/back.png')
        }
        .title{
            display: block;
            margin: 0 auto;
            position: relative;
            top: px2rem(22px);
            width: px2rem(184px);
            height: px2rem(44px);
        }
        .title.foodhot{
            background-image: url('./images/foodhot.png')
        }
        .title.shophot{
            background-image: url('./images/shophot.png')
        }
        .title.seasonhot{
            background-image: url('./images/seasonhot.png')
        }
        .title.yummyhot{
            background-image: url('./images/yummyhot.png')
        }
        .title.videohot{
            background-image: url('./images/videohot.png')
        }
        .title.xianshifuli{
            background-image: url('./images/xianshifuli.png')
        }
        .title.myprofile{
            background-image: url('./images/myprofile.png')
        }
        .title.mallfuli{
            background-image: url('./images/mallfuli.png');
            width: px2rem(274px);
        }
        .title.guidance{
            background-image: url('./images/guidance.png');
            width: px2rem(134px);
        }
        .title.busline{
            background-image: url('./images/guidance.png');
            width: px2rem(134px);
        }
        .title.query{
            background-image: url('./images/query.png');
        }
    }
}