@import "../vars.scss";
.footer{
	background-color: $color_636462;
    color: #fff;
    font-size: $int_12;
    height: $int_40;
    line-height: $int_40;
    padding-left: $int_20;
    font-family: $font_m;
    text-align: center;
}