# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build

svgcanvas/hightopo
svgcanvas/hightopo-master

# misc
.project
.DS_Store
npm-debug.log