
input[type="checkbox"] {
    margin-right: 10px;
}

button.close {
    display: none;
    font-size: 12px;
    height: 18px;
    width: 18px;
}
.container{
	padding-top: 30px;
}
#addBtn{
	margin-top: 5px;
}


.panel {
    margin-bottom: 0 !important;
    background-color: none !important;
    border: 0px solid transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.05) !important;
    box-shadow: 0 0 0 rgba(0,0,0,.05) !important;
}