.eat-video {
  font-size: 0.6rem;
  height: 1rem;
  width: 3.25rem;
  border-color: #141414;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
  text-align: center;
  margin-left: 0.75rem;
  /* margin-top: 0.75rem; */
  line-height: 1rem;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.eat-log {
  float: left;
  //margin: 0.95rem 0.875rem;
  width: 100%;
  height: 3.8rem;
  background-size: cover;
  background-image: url("../../../images/quyou/eat/eat-log.jpg")
}
.canyinmingdian{
  background-image: url("../../../images/quyou/icon/canyinmingdian.png")
}