.stars-show div{
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.2rem;
    float: left;
}
.stars-show div img{
    float: left;
    width: 0.5rem;
    height: 0.5rem;
}
.stars-show div.half{
    width: 0.3rem;
    overflow: hidden;
}
.stars-show div:last-child{
    margin-right: 0 !important;
}
