@import "../../../styles/vars.scss";
.ditu {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 32rem;
  width: 32rem;
  //height: 32rem;
  //width: 32rem;
  display: block;
  position: relative;

  &:hover {
    //transform:scale(1.2)
  }

  .ditu-p {
    position: absolute;
    //height: 0.5rem;
    //width: 0.5rem;
    //border-radius: 0.4rem;
    ///* background-color: yellow; */
    //border-style: double;
    //border-color: aliceblue;
    //background-color: red;
    height: px2rem(37px);
    width: px2rem(33px);
    background-image: url("./200.png");
    animation:fade 3000ms infinite;

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes fade {
  from { opacity: 1.0; }
  40% { opacity: 1.0; }
  50% { opacity: 0.6; }
  60% { opacity: 1.0; }
  to { opacity: 1.0; }
}

.ditu-p {
  &.dtsd {
    top: 59%;
    left: 86%;
  }

  &.qwstc {
    top: 36%;
    left: 62%;
  }
  &.jnsmwhc {
    top: 31%;
    left: 58%;
  }
  &.ydstc {
    top: 66%;
    left: 76%;
  }

  &.zhly {
    top: 51%;
    left: 51%;
  }
  &.gjzsty {
    top: 33%;
    left: 37%;
  }
  &.cmxg {
    top: 38%;
    left: 31%;
  }

  &.dpgjsl {
    top: 38%;
    left: 47%;
  }

  &.rhgy {
    top: 12%;
    left: 16%;
  }

  &.xsmz {
    top: 28%;
    left: 8%;
  }
  &.cxjy {
    top: 73%;
    left: 42%;
  }
  &.xdkxnc {
    top: 20%;
    left: 26%;
  }
  &.dhjgkxnc {
    top: 40%;
    left: 70%;
  }
  &.ycxmgy {
    top: 88%;
    left: 76%;
  }


  .ditu-info {
    display: none;
  }

&:hover .ditu-info{
    padding: 0.3rem;
    //height: 3rem;
    width: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.7; */
    color: aliceblue;
    font-size: 0.6rem;
    text-align: center;
    display: block;
    font-weight: 400;
    // transform: translateY(-3em);
    position: absolute;
    left: -2.5rem;
    top: -1.8rem;
    a {
      color: white;
    }
  }
}

#myCanvas {
  border:1px solid #d3d3d3;
  background:#ffffff;
}