@import "../vars.scss";
.shop-detail{
    background-color: $color_f5;
    .gap{
        height: px2rem(26px)
    }
    .fooder{
        background-color: $color_ff;
        padding-left: px2rem(50px);
        margin: px2rem(32px) auto;
        position: relative;
        .stars-permoney{
            position: absolute;
            right: px2rem(50px);
            .permoney{
                position: relative;
                top: px2rem(20px); 
                font-size: px2rem(18px); 
                line-height: px2rem(18px);
                text-align: right;
            }
        }
        .food-name{
            font-size: px2rem(32px);
            line-height: px2rem(32px);
            color: $color_02;
        }
        .discount-tags{
            ul{
                clear: both;
                padding-top: px2rem(14px); 
            }
            li:last-child{
                margin-right: 0 !important;
            }
            li{
                float: left;
                font-size: px2rem(20px);
            }
            .tags{
                li{
                    color: $color_5d666e;
                    height: px2rem(36px);
                    line-height: px2rem(34px);
                    padding: 0 px2rem(14px);
                    margin-right: px2rem(18px);
                    border: 1px solid #e5e5e5;
                    border-radius: px2rem(18px);
                }
            }
            .discount{
                li{
                    color: $color_fe932b;
                    line-height: px2rem(20px);
                    margin-right: px2rem(30px);
                }
            }
        }
    }
    .necker{
        background-color: $color_ff;
        padding: px2rem(35px) 0;
        padding-left: px2rem(44px);
        .necker-box{
            .intro{
                color: $color_00;
                font-size: px2rem(34px);
                line-height: px2rem(34px);
                span{
                    float:left; 
                    background-color: $color_ffc913;
                    width: px2rem(8px);    
                    height: px2rem(34px);
                    margin-right: px2rem(20px);      
                }
                margin-bottom: px2rem(30px);
            }
            .descrip{
                margin: px2rem(30px) 0;
                padding-right: px2rem(44px);
                color: $color_5d666e;
                font-size: px2rem(24px);
                line-height: px2rem(50px);
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-inline-box;
                word-break: break-word;
            }
            .open-more{
                display: none;
                color: $color_ffc913;
                text-align: center;
                font-size: px2rem(24px);
            }
        }
    }
    .header{
        background-color: $color_ff;
        padding: px2rem(30px) px2rem(44px);
        .header-box{
            position: relative;
            .thin-border-verical-box{
                height: px2rem(54px);
                position: absolute;
                right: px2rem(94px);
                top: px2rem(9px);
                .thin-border-verical:before {
                    border-left-color: #e5e5e5;
                }
            }
            .phone{
                position: absolute;
                right: 0;
                top: px2rem(14px);
                width: px2rem(44px);
                height: px2rem(44px);
            }
            .address{
                color: $color_5d666e;
                font-size: px2rem(22px);
                line-height: px2rem(22px);
                margin-top: px2rem(22px);
                i{
                    float: left;
                    width: px2rem(18px);
                    height: px2rem(22px);
                    margin-right: px2rem(10px);
                }
            }
            .name{
                color:#020202;
                font-size: px2rem(32px);
                line-height: px2rem(32px);
                position: relative;
                left: -0.4rem;
            }
            .cover{
                margin-top: px2rem(32px);
                height: px2rem(208px);
                background-image: url(http://ac-tulkzvki.clouddn.com/5m7AK2sp4XT0ygsw0a3vgzWvVgdD5FDTgD4gKM2l.jpg);
                background-size: cover
            }
        }
    }
}