@import "../vars.scss";
.shop-hot{
    .banner{
        width: 100%;
        height: auto;
        display: block;
    }
    .list{
        padding: 0 px2rem(36px);
        .item{
            width: 100%;
            float: left;
            position: relative;
            padding-top: px2rem(36px);
            margin-bottom: px2rem(36px);
            height: px2rem(156px)+px2rem(36px);
            .cover{
                float: left;
                width: px2rem(240px);
                height: px2rem(156px);
                background-image: url('http://ac-tulkzvki.clouddn.com/5m7AK2sp4XT0ygsw0a3vgzWvVgdD5FDTgD4gKM2l.jpg');
                background-size: cover;
            }
            .box{
                float: left;
                height: px2rem(156px);
                padding-left: px2rem(36px);

                .name{
                    color: $color_42484e;
                    font-size: px2rem(30px);
                    line-height: px2rem(30px);
                }
                .address{
                    color: $color_5d666e;
                    font-size: px2rem(22px);
                    line-height: px2rem(22px);
                    margin-top: px2rem(22px);
                    i{
                        float: left;
                        width: px2rem(18px);
                        height: px2rem(22px);
                        margin-right: px2rem(10px);
                    }
                }
            }
            .num{
                position: absolute;
                right: px2rem(14px);
                color: $color_fe932b;
                font-size: px2rem(20px);
                span{
                    margin-left: px2rem(8px);
                }
            }
        }
    }
}