@import "../vars.scss";
.xian-shi-fu-li{
    .banner{
        width: 100%;
        height: auto;
        display: block;
    }
    .list{
        padding: 0 px2rem(48px);
        .item{
        	margin-top: px2rem(60px);
        	.cover{
        		outline: $color_cc solid 1px;
        		width: px2rem(654px);
        		height: px2rem(318px);
        		background-size: cover;
                background-image: url('http://ac-tulkzvki.clouddn.com/5m7AK2sp4XT0ygsw0a3vgzWvVgdD5FDTgD4gKM2l.jpg');
        	}
        	.product{
        		color: $color_5d666e;
        		text-align: left;
        		margin-top: px2rem(22px);
        		font-size: px2rem(28px);
        	}
        	.price-buy{
        		margin-top: px2rem(30px);
        		height: px2rem(68px);
        		.buy{
        			float: right;
        			width: px2rem(340px);
        			height: px2rem(68px);
        			outline: $color_ffc913 solid 1px;
        			div{
        				float: left;
        				width: 50%;
        				height: 100%;
        				text-align: center;
        			}
        			.remain{
        				background-color: #fff7f4;
        				color: #b3b59a;
        				font-size: px2rem(22px);
        				line-height: px2rem(68px);
        				span{
        					padding: 0 px2rem(4px);
        					color: #ec6941;
        				}
        			}
        			.btn{
        				background-color: $color_ffc913;
        				color: $color_ff;
        				font-size: px2rem(28px);
        				line-height: px2rem(68px);
        			}
        		}
        		.price{
        			height: px2rem(68px);
        			float: left;
        			.now{
        				float: left;
        				color: $color_00;
        				font-size: px2rem(38px);
        				line-height: px2rem(68px); 
        				span{
        					font-size: px2rem(22px);
        					line-height: px2rem(68px); 
        					margin-right: px2rem(6px);
        				}
        			}
        			.origin{
        				margin-left: px2rem(16px);
        				float: left;
        				color: #bebebe;
        				font-weight: 300;
        				font-size: px2rem(18px);
        				line-height: px2rem(68px); 
        				text-decoration: line-through;
        			}
        		}
        	}
        	.foot{
        		height: px2rem(38px);
        	}
        }
    }
}