@import "vars.scss";
.maxWidth{
	max-width: $rem_25;
}
.marginAuto{
	margin: 0 auto;
}
.textElip {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clearBoth{
	clear:both;
}
.textCenter{
	text-align: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
li{
	clear: both;
	margin-top: $rem_0_5;
}
.gapLine{
	padding: $rem_1 0;
	text-align: center;
	clear:both;
}
ol{
	width: 84%;
    margin: 0 auto;
}