.spin {
    width: 6.5rem;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}
.spin2{
    width: 1rem;
    height: auto;
    display: block;
    margin: 0.8rem auto;
}