@import "vars.scss";

html, body {
  -webkit-tap-highlight-color: transparent;
}
.maxWidth{
    max-width: 25rem;
}
.marginAuto{
    margin: 0 auto;
}
.textElip {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clearBoth,.clearboth{
    clear:both;
}
.textCenter{
    text-align: center;
}
.gapLine{
    padding: 1rem 0;
    text-align: center;
    clear:both;
}
.fleft{
    float:left; 
}
.fright{
    float:right;
}
.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* 
a {
    display: flex;
    box-shadow: 0 2px 4px 0 #000;
    transform: rotate(180deg)
}
 */

.loading {
    background: #e6e6e6;
    width: 6.5rem;
    border-radius: 0.6rem;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.loading div{
    color: #999;
    text-align: center;
    padding: .6rem;
    padding-top: 0;
    margin-top: -.4rem;
    font: 400 .65rem/.65rem "Helvetica Neue", Helvetica, Tahoma, Arial, Sans-serif !important;
}
.loading img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 2rem;
    display: block;
}

.thinner-border{
    position: relative !important;
}
.thinner-border:before{
    content: '';
    position: absolute !important;
    width: 200%;
    height: 200%;
    border-top: 1px solid #eee;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}