@function px2rem($px, $base: 40px) {
    @if (unitless($px)) {
        @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
        @return px2rem($px + 0px); // That may fail.
    } @else if (unit($px) == rem) {
        @return $px;
    }
    @return ($px/$base) * 1rem;
}
$rem_0_5: px2rem(20px);
$rem_1: px2rem(40px);
$rem_2: px2rem(80px);
$rem_3: px2rem(60px);
$rem_4: px2rem(80px);
$rem_5: px2rem(200px);
$rem_10: px2rem(400px);
$rem_25: px2rem(1000px);
$barTop: px2rem(88px);
$barBottom: px2rem(100px);
$int_5: 5px;
$int_10: 10px;
$int_12: 12px;
$int_14: 14px;
$int_16: 16px;
$int_18: 18px;
$int_20: 20px;
$int_30: 30px;
$int_40: 40px;
$int_50: 50px;
$color_e6: #e6e6e6;
$color_e6_02: rgba(230, 230, 230, 0.2);
$color_ff: #ffffff;
$color_f5: #f5f5f5;
$color_e5: #e5e5e5;
$color_cc: #cccccc;
$color_20: #202020;
$color_33: #333333;
$color_00: #000000;
$color_42484e: #42484e;
$color_ffc913: #ffc913;

$color_fe932b: #ec6941;
$color_fe932b: #fe932b;
$color_ffce1a: #ffce1a;
$color_99: #999999;
$color_5d666e: #5d666e;
$color_02: #020202;

$color_F0734F: #F0734F;
$color_636462: #636462;
$font: 400 1rem/1rem "Helvetica Neue", Helvetica, Tahoma, Arial, Sans-serif;
$font_f: "Helvetica Neue", Helvetica, Tahoma, Arial, Sans-serif;
$font_m: "Microsoft Yahei";
$font_w_400: 400;

